

<div class="btn-admin-contenedor">
  <button class="btn-admin" *ngIf="!isAdmin"(click)="openModal()">
    <i class="fa-solid fa-user-shield"></i> ENTRAR</button>
</div>

<div class="contenedorTituloLogo">
  <img src="assets/iconoControl.png" alt="Control de Acceso" class="logo">
  <h1><span class="spanPass">Pass</span><span class="spanFeria">Feria</span></h1>
</div>

<div class="menu">
  <a class="card-entrada wallet" [routerLink]="['/entrada']">
    <div class="overlay"></div>
    <img src="assets/logoentrada.png" alt="Entrada" class="icono">
    <!-- <h2>ENTRADA</h2> -->
  </a>

  <a class="card-salida wallet"  [routerLink]="['/salida']">
    <div class="overlay"></div>
    <img src="assets/logosalida.png" alt="Salida" class="icono">
    <!-- <h2>SALIDA</h2> -->
  </a>
</div>

<div class="contenedorBotones">
  <button class="btn-socio" *ngIf="isAdmin" (click)="navigateTo('añadir-socio')">
    <i class="fa fa-user-plus"></i> Añadir Invitado
  </button>
  <button class="btn-ver" *ngIf="isAdmin" (click)="navigateTo('ver-socios')"> <i class="fa-solid fa-magnifying-glass"></i>
    Ver Invitado
  </button>
  <button class="btn-ver" *ngIf="isAdmin" (click)="verRegistros()"> <i class="fa-regular fa-clipboard"></i> Ver Registros</button>

  <button class="btn-ver" *ngIf="isAdmin" (click)="logout()"> <i class="fa-solid fa-arrow-right-from-bracket"></i>
    Desloguear
  </button>
</div>



<!-- Modal -->
<div class="modal" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="btn-close" (click)="closeModal()">X</button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <label for="username">Usuario</label> <input type="text" id="username" [(ngModel)]="username" name="username" required minlength="4" #userInput="ngModel"
            />
            <!-- Mensajes de error para el nombre de usuario -->
            <div *ngIf="userInput.invalid && (userInput.dirty || userInput.touched)" class="error-message">
              <div *ngIf="userInput.errors?.['required']">
                El nombre de usuario es obligatorio.
              </div>
              <div *ngIf="userInput.errors?.['minlength']">
                El nombre de usuario debe tener al menos 4 caracteres.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required minlength="4" #passwordInput="ngModel"/>
            <!-- Mensajes de error para la contraseña -->
            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message">
              <div *ngIf="passwordInput.errors?.['required']">
                La contraseña es obligatoria.
              </div>
              <div *ngIf="passwordInput.errors?.['minlength']">
                La contraseña debe tener al menos 4 caracteres.
              </div>
            </div>
          </div>
          <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal de registros -->
<!-- Modal de registros -->
<div class="modal-backdrop-modern-registro" *ngIf="showRegistrosModal">
  <div class="modal-container-modern-registro">
    <h3 class="modal-title">Registros</h3>
    <div class="modal-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID Registro</th>
            <th>ID Socio</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Tipo de Movimiento</th>
            <th>Invitaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mov of movimientosConFechaFormateada"
              [ngClass]="{'entrada': mov.tipomov === 'e', 'salida': mov.tipomov === 's'}">
            <td>{{ mov.id_registro }}</td>
            <td>{{ mov.idsocio }}</td>
            <td>{{ mov.fechaFormateada }}</td>
            <td>{{ mov.hora }}</td>
            <td>{{ mov.tipomov }}</td>
            <td>{{ mov.invitados }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-buttons">
      <button type="button" class="btn-cancel" (click)="closeRegistrosModal()">Cerrar</button>
    </div>
  </div>
</div>
