<!-- <div class="titulo">
  <h1>Control de Acceso Caseta</h1>
</div>

<div class="menu">
  <button class="btn" (click)="registrarEntrada()">
    <img src="assets/logoentrada.png" alt="Entrada" class="icono"> Entrada
  </button>
  <button class="btn" (click)="registrarSalida()">
    <img src="assets/logosalida.png" alt="Salida" class="icono"> Salida
  </button>
</div>

<div class="contenedorBotones">
  <button class="btn-socio" (click)="navigateTo()">Añadir Socio</button>
</div> -->

<div class="btn-admin-contenedor">
  <button class="btn-admin" (click)="openModal()">
    <i class="fa-solid fa-user-shield"></i></button>
</div>

<div class="titulo">
  <h1>Control de Acceso Caseta</h1>
</div>

<div class="menu">
  <a class="card wallet" [routerLink]="['/entrada']">
    <div class="overlay"></div>
    <img src="assets/logoentrada.png" alt="Entrada" class="icono">
    <h2>ENTRADA</h2>
  </a>

  <a class="card wallet"  [routerLink]="['/salida']">
    <div class="overlay"></div>
    <img src="assets/logosalida.png" alt="Salida" class="icono">
    <h2>SALIDA</h2>
  </a>
</div>

<div class="contenedorBotones">
  <button class="btn-socio" *ngIf="isAdmin" (click)="navigateTo('añadir-socio')">
    <i class="fa fa-user-plus"></i> Añadir Invitado
  </button>
  <button class="btn-ver" *ngIf="isAdmin" (click)="navigateTo('ver-socios')"> <i class="fa-solid fa-magnifying-glass"></i>
    Ver Invitado
  </button>
  <button class="btn-ver" *ngIf="isAdmin" (click)="logout()"> <i class="fa-solid fa-arrow-right-from-bracket"></i>
    Desloguear
  </button>
</div>



<!-- Modal -->
<div class="modal" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login Administrador</h5>
        <button type="button" class="btn-close" (click)="closeModal()">X</button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="login()">
          <div class="form-group">
            <label for="username">Usuario</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" required />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required />
          </div>
          <button type="submit" class="btn-submit">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
