<div class="contenedor">
  <div class="contenedor-cajas">
    <h2>PANTALLA DE ENTRADA</h2>

    <!-- Número tarjeta -->
    <div class="campo">
      <label for="numero-tarjeta">Número Tarjeta:</label>
      <input type="text" id="numero-tarjeta" value="123456789" readonly>
    </div>

    <H3>Socio: Rodrigo Ocaña</H3>

    <!-- Invitaciones -->
    <div class="campo">
      <label for="invitaciones">Invitaciones</label>
      <div class="invitaciones">
        <div class="campo">
          <input type="number" id="invitaciones" name="invitaciones" placeholder="Nº invitaciones">
        </div>
        <h2 class="Texto-EntradasRestantes">Entradas restantes: 20</h2>
      </div>
    </div>
    <div class="contenedor-btn">
      <button class="btn-sumar-restar"><i class="fa-solid fa-square-plus"></i></button>
      <button class="btn-sumar-restar"><i class="fa-regular fa-square-minus"></i></button>
    </div>
  </div>
</div>
