<div class="contenedor">
  <div class="container-datos-socio">
  <div *ngIf="socio">
    <h1><i class="fa-solid fa-user"></i> Invitado</h1>
    <table class="table table-bordered table-striped">
      <tr>
        <th>ID # </th>
        <td>{{ socio.idsocio }}</td>
      </tr>
      <tr>
        <th>Nombre</th>
        <td>{{ socio.nombre }}</td>
      </tr>
      <tr>
        <th>Apellidos</th>
        <td>{{ socio.apellido }}</td>
      </tr>
      <tr>
        <th>Teléfono</th>
        <td>{{ socio.telefono }}</td>
      </tr>
      <tr>
        <th>Domicilio</th>
        <td>{{ socio.direccion }}</td>
      </tr>
      <tr>
        <th>Correo Electrónico</th>
        <td>{{ socio.email }}</td>
      </tr>
      <tr>
        <th>Nº Invitaciones</th>
        <td>{{ socio.invitaciones }}</td>
      </tr>

    </table>
    <button class="btn-editarInvitado" (click)="editarInvitado()">
      <i class="fa-solid fa-user-pen"></i> Editar invitado
    </button>
    <button class="btn-borrarInvitado" (click)="eliminarInvitado()">
      <i class="fa-solid fa-user-pen"></i> Eliminar invitado
    </button>
  </div>
</div>


<!-- Modal para editar invitado -->
<div class="modal-backdrop-modern" *ngIf="showEditModal">
  <div class="modal-container-modern">
    <h3 class="modal-title">Editar Invitado</h3>
    <form [formGroup]="editForm" (ngSubmit)="saveChanges()" class="modal-form">
      <div class="form-group">
        <label for="nombre">Nombre</label> <input id="nombre" class="form-input" formControlName="nombre" placeholder="Nombre del invitado"/>
      </div>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input
          id="apellido"
          class="form-input"
          formControlName="apellido"
          placeholder="Apellido"
        />
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input
          id="telefono"
          class="form-input"
          formControlName="telefono"
          placeholder="Teléfono"
        />
      </div>

      <div class="form-group">
        <label for="direccion">Domicilio</label>
        <input
          id="direccion"
          class="form-input"
          formControlName="direccion"
          placeholder="direccion"
        />
      </div>

      <div class="form-group">
        <label for="email">Correo electronico</label>
        <input
          id="emailo"
          class="form-input"
          formControlName="email"
          placeholder="Correo electronico..."
        />
      </div>

      <div class="form-group">
        <label for="invitaciones">Nº Invitaciones</label>
        <input
          id="invitaciones"
          class="form-input"
          formControlName="invitaciones"
          type="number"
          placeholder="Número de invitaciones"
        />
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn-save" [disabled]="editForm.invalid">Guardar Cambios</button>
        <button type="button" class="btn-cancel" (click)="closeModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>



<div class="container-datos-familiares">
  <div class="contenedor-familiares" *ngIf="familiares.length > 0; else noFamiliares">
    <div
      class="familiares-caja"
      *ngFor="let familiar of familiares; let i = index"
      [class.seleccionado]="i === selectedFamiliarIndex"
      (click)="seleccionarFamiliar(i)"
    >
      <h2><i class="fa-solid fa-users"></i> Familiar nº{{ i + 1 }}</h2>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th colspan="2">Detalles del Familiar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>ID# familiar</th>
            <td>{{ familiar.idsocio }}</td>
          </tr>
          <tr>
            <th>Nombre</th>
            <td>{{ familiar.nombre }}</td>
          </tr>
          <tr>
            <th>Apellidos</th>
            <td>{{ familiar.apellido }}</td>
          </tr>
          <tr>
            <th>Invitaciones</th>
            <td>{{ familiar.invitaciones }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noFamiliares>
    <p>No hay familiares registrados.</p>
  </ng-template>


  <!-- Modal para añadir familiar -->
<div class="modal-backdrop-modern" *ngIf="showAddFamiliarModal">
  <div class="modal-container-modern">
    <h3 class="modal-title">Añadir Familiar</h3>
    <form [formGroup]="addFamiliarForm" (ngSubmit)="saveFamiliar()" class="modal-form">
      <div class="form-group">
        <label for="familiar-nombre">Nombre</label>
        <input id="familiar-nombre" class="form-input" formControlName="nombre" placeholder="Nombre del familiar"/>
      </div>

       <div class="form-group">
        <label for="familiar-apellido">Apellido</label>
        <input
          id="familiar-apellido"
          class="form-input"
          formControlName="apellido"
          placeholder="Apellido del familiar"
        />
      </div>

      <div class="form-group">
        <label for="familiar-maxInvi">Invitaciones</label>
        <input
          id="familiar-maxInvi"
          class="form-input"
          formControlName="invitaciones"
          placeholder="Invitaciones del familiar"/>
      </div>
      <div class="form-buttons">
        <button type="submit" class="btn-save" [disabled]="addFamiliarForm.invalid">Guardar Familiar</button>
        <button type="button" class="btn-cancel" (click)="closeAddFamiliarModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>


<div class="contenedor-btn-añadirFamiliar">
  <button class="btn-añadirFamiliar" (click)="addFamiliar()">
    <i class="fa-solid fa-user-plus"></i> Añadir familiar
  </button>

  <button class="btn-eliminarFamiliar" [disabled]="selectedFamiliarIndex === null" [ngClass]="{ 'disabled-eliminarFamiliar': selectedFamiliarIndex === null }"
    (click)="eliminarFamiliar()">
    <i class="fa-solid fa-user-minus"></i> Eliminar familiar
  </button>
</div>

  <ng-template #noFamiliares>
    <p class="texto-NoFamiliares">No hay familiares disponibles.</p>
  </ng-template>

  <div *ngIf="!socio">
    <p>Cargando detalles del socio...</p>
  </div>
</div>
</div>

<div class="contenedor-btn-volver">
  <button class="btn-volver" (click)="navigateTo()">Volver</button>
</div>





