/* Contenedor principal */
.contenedor {
  padding: 20px;
  width: 100%;
  display: flex;
  height: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-datos-socio{
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  background-color: rgb(255, 255, 255);

}


/* Título */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Cabeceras de tabla */
th {
  background-color: #007bff;
  color: rgb(0, 0, 0);
  padding: 12px;
  text-align: left;
  font-size: 1.1rem;
}

/* Celdas de la tabla */
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 1rem;
  background-color: #f4f4f4;
}

/* Estilos para los estados de la tabla */
table th,
table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #e9ecef;
}

.familiares-caja {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  margin: 0;
}

th {
  background-color: #f2f2f2;
}

td {
  padding: 8px;
}


.container-datos-familiares{
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin-left: 20px;
  margin-top: 146px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  background-color: rgb(255, 255, 255);

}


.contenedor-familiares{
  display: flex;
  gap:20px
}
