/* Contenedor principal */
.contenedor {
  padding: 20px;
  /* width: 100%; */
  display: flex;
  /* height: 100%; */
  margin: 0 auto;
  background-color: #0b789900;
  /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5); */
}

.container-datos-socio{
  width:500px;   /* fit-content tambien funciona */
 height: 505px;
  padding: 20px;
  margin-left: 20px;
  margin-top: 80px;
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  background-color: rgb(255, 255, 255);

}

/* Título */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-family: sans-serif;
}


span{
  background-color: rgb(71, 211, 106);
  padding-left: 10px;
  padding-right: 10px;
}


/* Estilo del texto del aforo */
.aforo {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mayor visibilidad */
  padding: 10px;
  transform: translate(-1px, -20px);
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
/* Asegura que el aforo se quede fijo y no interfiera con otros elementos */
.contenedor-aforo {
  position: fixed;
  top: 10px;  /* Coloca el título a 10px de la parte superior */
  left: 50%;
  transform: translateX(-50%); /* Centra el título en la pantalla */
  z-index: 10; /* Asegura que esté encima de otros elementos */
  width: 100%;
  text-align: center;
}
h2{
  font-family: sans-serif;
  text-align: center;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Cabeceras de tabla */
th {
  background-color: #e4e1e1;
  color: rgb(0, 0, 0);
  padding: 12px;
  text-align: left;
  font-size: 1.1rem;

}

/* Celdas de la tabla */
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 1rem;
  cursor: default;
  background-color: #f4f4f4;
}

/* Estilos para los estados de la tabla */
table th,
table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
  font-family:sans-serif;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #e9ecef;
}

.container-datos-familiares{
  width: 1400px;
  height: fit-content;
  padding: 20px;
  border-radius: 8px;
  margin-left: 0px;
  margin-top: 60px;
  /* margin-top: 187px; */
  /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  background-color: rgb(255, 255, 255); */

}

.contenedor-familiares{
  display: flex;
  flex-wrap: wrap;
  row-gap:0px;
  column-gap: 10px;
}


.familiares-caja {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 268px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
  margin: 0;
}

th {

}

td {
  padding: 8px;
}

/* MODAL EDITABLE */

/* Fondo del modal */
.modal-backdrop-modern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-backdrop-modern-registro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenedor del modal */
.modal-container-modern {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 80%;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-container-modern-registro {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

/* Título del modal */
.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  text-align: center;
}

/* Estilo del formulario */
.modal-form .form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}

.modal-form .form-group label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal-form .form-group .form-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.2s ease;
}

.modal-form .form-group .form-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modal-body{

    margin-top: 20px;
    box-shadow:  4px 8px 10px rgba(0, 0, 0, 0.2)

}

/* Botones */
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-save {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-save:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn-save:hover:enabled {
  background-color: #0056b3;
}


.btn-cancel {
  background-color: #f8f9fa;
  color: #333;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-cancel:hover {
  background-color: #e2e6ea;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Aplicar la animación a los contenedores */
.contenedor,
.container-datos-socio,
.container-datos-familiares {
  animation: fadeIn 0.5s ease-in-out;
}

/* TERMINA MODAL EDITABLE */



.btn-añadirFamiliar{
  background-color: #2776dd;
color: rgb(255, 255, 255);
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}

.btn-añadirFamiliar:hover{
  background-color: #0a60d1;
}

/* Estilo normal para el botón Eliminar Familiar */
.btn-eliminarFamiliar {
  opacity: 1; /* Estado normal */
  transition: opacity 0.3s ease, background-color 0.3s ease; /* Suavizar el cambio */
  padding: 10px 15px;
  color: white;
  background-color: #aa2424;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Apuntar y hacer clic */
}

/* Estilo para el botón cuando está deshabilitado */
.disabled-eliminarFamiliar {
  background-color: #aa2424; /* Color de fondo cuando está deshabilitado */
  opacity: 0.6; /* Reducir opacidad para indicar deshabilitado */
  cursor: not-allowed; /* Cambiar el cursor cuando está deshabilitado */
}

.btn-editarInvitado {
  background-color: #2776dd;
color: rgb(255, 255, 255);
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-left: 10px;
margin-top: 15px;
}

.btn-verRegistro {
  background-color: #2776dd;
color: rgb(255, 255, 255);
padding: 10px 15px;
border: none;
border-radius: 4px;
position:fixed;
cursor: pointer;
margin-left: 10px;
margin-top: 15px;
}

.btn-editarInvitado:hover{
  background-color: #1f5fba;
}


.btn-borrarInvitado{
  background-color: #aa2424;
color: rgb(255, 255, 255);
padding: 10px 15px;

border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 15px;
margin-left: 10px;
}

.btn-borrarInvitado:hover{
  background-color: #8c1f1f;
}

/* Botón Volver */
.contenedor-btn-volver {
  position: fixed; /* Fija el botón en la pantalla */
  bottom: 340px; /* Espaciado desde el fondo */
  left: 0px; /* Espaciado desde la izquierda */
  z-index: 10; /* Asegura que esté encima de otros elementos */
}

.btn-volver{
  background-color: #1ca896;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  transform: translate(45px, 90px);

}

.btn-volver:hover{
  background-color: #027263;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.disabled-button{
  background-color: rgba(255, 0, 0, 0.397);
}

  .contenedor-btn-añadirFamiliar{
    display: flex;
    gap: 10px;
    transform: translate(0px, -10px);
  }


  .familiares-caja {
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  .familiares-caja:hover {
    border-color: #ccc;
  }

  .familiares-caja.seleccionado {
    border: 6px solid rgb(2, 169, 247);
    background-color: #f0f8ff;
  }

  .texto-NoFamiliares{
    color:white;
    font-size: 20px;
  }

/* Responsive design */
@media (min-width: 350px) and (max-width: 768px) {

  .contenedor {
    display: flex;
    flex-direction: column;
    width: 91%;
    height:fit-content;
    background-color: #0b7899fd;
  }

  .contenedor-familiares{
    display:contents;
  }

  .container-datos-socio{
    width: fit-content;
    height: fit-content;
    margin-left: 5px;
  }

  .container-datos-familiares{
    margin-top: 20px;
    margin-left: 10px;
  }

  .familiares-caja{
    font-size: 10px;
  }

  th{

    font-size: 16px;
  }

  .contenedor-btn-volver{
    display: flex;
    justify-content: center;
    transform: translate(-4px, -32px);

  }

  .btn-volver{
    transform: translate(-4px, 0px);
  }



}
