<div class="contenedor">
  <div class="container-datos-socio">
  <div *ngIf="socio">
    <h1>Detalles del Socio</h1>
    <table class="table table-bordered table-striped">
      <tr>
        <th>ID Socio</th>
        <td>{{ socio.id_socio }}</td>
      </tr>
      <tr>
        <th>Nombre</th>
        <td>{{ socio.nombre }}</td>
      </tr>
      <tr>
        <th>Apellidos</th>
        <td>{{ socio.apellido }}</td>
      </tr>
      <tr>
        <th>Teléfono</th>
        <td>{{ socio.telefono }}</td>
      </tr>
      <tr>
        <th>Domicilio</th>
        <td>{{ socio.domicilio }}</td>
      </tr>
      <tr>
        <th>Nº de Familiares</th>
        <td>{{ socio.numero_familiares }}</td>
      </tr>
      <tr>
        <th>Nº de Tarjeta</th>
        <td>{{ socio.numero_tarjeta }}</td>
      </tr>
    </table>
  </div>
</div>


<div class="container-datos-familiares">
  <div class="contenedor-familiares" *ngIf="familiares.length > 0; else noFamiliares">
    <div class="familiares-caja" *ngFor="let familiar of familiares; let i = index">
      <h2>Familiar {{ i + 1 }}</h2> <!-- Muestra "Familiar 1", "Familiar 2", etc. -->
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th colspan="2">Detalles del Familiar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Nombre</th>
            <td>{{ familiar.nombre }}</td>
          </tr>
          <tr>
            <th>Apellidos</th>
            <td>{{ familiar.apellido }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #noFamiliares>
    <p>No hay familiares disponibles.</p>
  </ng-template>

  <div *ngIf="!socio">
    <p>Cargando detalles del socio...</p>
  </div>
</div>
