<div class="contenedor">
  <div class="row">
    <div class="col-md-12">
      <h1>Ver Socios</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Numero socio</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Población</th>
            <th>DNI</th>
            <th>Correo Electrónico</th>
            <th>Nº Familiares</th>
            <th>INV Máx</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let socio of sociosPaginados" (click)="verDetalle(socio.idsocio)" style="cursor: pointer;">
            <td>{{socio.idsocio}}</td>
            <td>{{ socio.nombre }}</td>
            <td>{{ socio.apellido }}</td>
            <td>{{ socio.telefono }}</td>
            <td>{{ socio.direccion }}</td>
            <td>{{socio.poblacion}}</td>
            <td>{{socio.dni}}</td>
            <td>{{socio.email}}</td>
            <td>{{ socio.numeroFamiliares || 0 }}</td>
            <td>{{ socio.invitaciones }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Controles de paginación -->
    <div class="paginacion">
      <button class="btn-paginacion" (click)="paginaAnterior()" [disabled]="paginaActual === 0"><i class="fa-solid fa-arrow-left"></i> Anterior</button>
      <span class="totalPaginas">Página {{ paginaActual + 1 }} de {{ totalPaginas }}</span>
      <button class="btn-paginacion" (click)="paginaSiguiente()"
              [disabled]="(paginaActual + 1) * tamanoPagina >= socios.length">Siguiente <i class="fa-solid fa-arrow-right"></i></button>
    </div>

    <div class="contenedor-btn-volver">
      <button class="btn-volver" (click)="navigateTo()">Volver</button>
    </div>
  </div>
</div>
