<div class="contenedor">
  <div class="row">
    <div class="col-md-12">
      <h1>Ver Socios</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Domicilio</th>
            <th>Nº Familiares</th>
            <th>INV</th>
            <th>Nº de Tarjeta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let socio of socios" [routerLink]="['/socios', socio.id_socio]">
            <td>{{ socio.nombre }}</td>
            <td>{{ socio.apellido }}</td>
            <td>{{ socio.telefono }}</td>
            <td>{{ socio.domicilio }}</td>
            <td>{{ socio.numeroFamiliares || 0 }}</td> <!-- Mostrar número de familiares -->
            <td>{{ socio.invitaciones }}</td>
            <td>{{ socio.NumTar }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="contenedor-btn-volver">
      <button class="btn-volver" (click)="navigateTo()">Volver</button>
    </div>
  </div>
</div>
