
/* Estilos generales */
.contenedor {
  /* padding: 20px; */
  /* background-color: #0b7899; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.row {
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

table thead {
  background-color: #007bff;
  color: #fff;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  font-size: 1rem;
}

th {
  font-weight: bold;
}

tbody tr {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody td {
  border-top: 1px solid #e1e1e1;
  font-family: sans-serif;
}

/* Estilo para bordes de tabla */
table,
th,
td {
  border: 1px solid #ddd;
}

table {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.btn-volver{
  background-color: #1ca896;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contenedor-btn-volver{
  padding-top: 20px;
}

/* Responsive design */
@media (min-width: 350px) and (max-width: 768px) {
  th,
  td, tr
  {
    font-size: 11.8px;
    padding: 1.2px;
    padding-right: 5px;

  }


  .contenedor{
height: fit-content;
    width: fit-content;
    padding: 4px;
  }

  h1 {
    font-size: 1.3rem;
  }
}

