/* Estilos generales */
.contenedor {
  display: flex;
    margin-top: 95px;
    margin-left: 155px;
    margin-right: 100px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 80%;
    padding: 15px;
    overflow-x: auto;
    animation: fadeIn 0.3s ease-in-out;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff; /* Fondo blanco */
  animation: fadeIn 0.1s ease-in-out;
  font-family: 'Arial', sans-serif;
  cursor:pointer;
}

h1{
  color:rgb(0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

thead {
  background-color: #18abd8; /* Color del header */
  color: #ffffff; /* Texto blanco */
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  font-size: 1rem;
}

th {
  font-weight: bold;
  text-transform: uppercase; /* Texto en mayúsculas */
  border-bottom: 2px solid #0e8672; /* Borde inferior del header */
}



tbody tr:nth-child(even) {
  background-color: #cdcdcd63; /* Fondo alternativo */
}

tbody tr:hover {
  background-color: #5fdb97; /* Fondo al pasar el mouse */
}

td {
  border-top: 1px solid #ddd; /* Líneas entre celdas */
}

tfoot {
  background-color: #1ca896; /* Fondo del footer */
  color: #fff; /* Texto del footer */
  font-weight: bold;
}

.btn-volver{
  background-color: #1ca896;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.paginacion{
  margin-top: 20px;
}

.btn-paginacion{
  padding: 10px;
    background-color: #18abd8;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.totalPaginas{
  padding: 10px;
  color: rgb(0, 0, 0);
}

.btn-volver:hover{
  background-color: #027263;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Efecto para bordes de la tabla */
table,
th,
td {
  border: 1px solid #ddd;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive design para móviles */
@media (max-width: 768px) {
  table {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
  }

  th,
  td {
    padding: 8px; /* Ajusta el padding */
  }

  th {
    font-size: 0.95rem;
  }

  .contenedor {
    padding: 0; /* Reduce el padding del contenedor */
  }
}
