<div class="contenedor">
  <div class="formulario">
    <h2>Añadir Invitado</h2>
    <form #form="ngForm" (ngSubmit)="agregarSocio($event)">
      <div class="campo">

        <div class="campo">
          <label for="idsocio">Codigo de socio:</label>
          <input type="text" id="idsocio" name="idsocio" placeholder="Código de socio" [(ngModel)]="socio.idsocio" #idsocio="ngModel" required/>
        </div>
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          placeholder="Nombre del invitado"
          [(ngModel)]="socio.nombre"
          required
          #nombre="ngModel"/>
        </div>

      <div class="campo">
        <label for="apellido">Apellido:</label>
        <input
          type="text"
          id="apellido"
          name="apellido"
          placeholder="Apellido del invitado"
          [(ngModel)]="socio.apellido"
          required
          #apellido="ngModel"/>
      </div>

      <div class="campo">
        <label for="telefono">Teléfono de Contacto:</label>
        <input
          type="tel"
          id="telefono"
          name="telefono"
          placeholder="Número de teléfono"
          [(ngModel)]="socio.telefono"
          required
          #telefono="ngModel"/>
        </div>

      <div class="campo">
        <label for="invitaciones">Número de invitaciones:</label>
        <input
          type="number"
          id="invitaciones"
          name="invitaciones"
          placeholder="Nº Invitaciones del invitado"
          [(ngModel)]="socio.invitaciones"
          #invitaciones="ngModel"
        />
      </div>

      <div class="campo">
        <label for="correoelectronico">Correo Electronico:</label>
        <input
          type="text"
          id="correoelectronico"
          name="correoelectronico"
          placeholder="Correo electronico"
          [(ngModel)]="socio.email"
          #Correo_electronico="ngModel"
        />
      </div>

      <div class="campo">
        <label for="direccion">Domicilio:</label>
        <input
          type="text"
          id="direccion"
          name="direccion"
          placeholder="Direccion"
          [(ngModel)]="socio.direccion"
          required
          #domicilio="ngModel"
        />
      </div>



      <div class="campo">
        <label for="familiares">Número de Familiares:</label>
        <input type="number" id="familiares" name="familiares" placeholder="Nº familiares del socio" [(ngModel)]="numeroFamiliares"
         (ngModelChange)="crearCamposFamiliares()" required #familiaresInput="ngModel"/>
      </div>

      <!-- Campos Dinámicos de Familiares -->
      <div *ngFor="let familiar of familiares; let i = index">
        <div class="campo">
          <label for="nombreFamiliar{{i}}"> Familiar {{i + 1}}:</label>
          <input type="text" id="nombreFamiliar{{i}}" name="nombreFamiliar{{i}}" [(ngModel)]="familiar.nombre" placeholder="Nombre del familiar" required
            #familiarNombre="ngModel"/>
        </div>
        <div class="campo">
          <input type="text" id="apellidoFamiliar{{i}}" name="apellidoFamiliar{{i}}" [(ngModel)]="familiar.apellido" placeholder="Apellido del familiar" required
            #familiarNombre="ngModel"/>
        </div>
        <div class="campo">
          <input type="number" id="invitacionesMax{{i}}" name="invitacionesMax{{i}}" [(ngModel)]="familiar.apellido" placeholder="Invitaciones máx" required
            #familiarNombre="ngModel"/>
        </div>
      </div>

      <button type="submit" class="button" [disabled]="form.invalid" [class.disabled]="form.invalid">
        Agregar Invitado
      </button>
    </form>
  </div>

  <div class="contenedor-boton">
    <button class="btn-regresar" (click)="navigateTo()">Volver</button>
  </div>
</div>
