.formulario {
  width: 100%;
  max-width: 500px;
  margin: 15px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.campo {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  border-color: #4CAF50;
  outline: none;
}

button {
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #388e3c;
}


.contenedor-boton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contenedor{
  padding:10px
}


.campo {
  margin-bottom: 15px;
}

.campo label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.campo input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.campo input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-regresar {
  background-color: #1ca896;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-regresar:hover {
  background-color: #999;
}
