<div class="contenedor">
  <div class="formulario">
    <h2>Agregar Invitado</h2>
    <form #form="ngForm" (ngSubmit)="agregarSocio($event)">
      <div class="campo">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          placeholder="Nombre del invitado"
          [(ngModel)]="socio.nombre"
          required
          #nombre="ngModel"/>
        </div>

      <div class="campo">
        <label for="apellido">Apellido:</label>
        <input
          type="text"
          id="apellido"
          name="apellido"
          placeholder="Apellido del invitado"
          [(ngModel)]="socio.apellido"
          required
          #apellido="ngModel"/>
      </div>

      <div class="campo">
        <label for="telefono">Teléfono de Contacto:</label>
        <input
          type="tel"
          id="telefono"
          name="telefono"
          placeholder="Número de teléfono"
          [(ngModel)]="socio.telefono"
          required
          #telefono="ngModel"/>
        </div>

      <div class="campo">
        <label for="invitaciones">Número de invitaciones:</label>
        <input
          type="number"
          id="invitaciones"
          name="invitaciones"
          placeholder="Nº Invitaciones del invitado"
          [(ngModel)]="socio.invitaciones"
          #invitaciones="ngModel"
        />
      </div>

      <div class="campo">
        <label for="domicilio">Domicilio:</label>
        <input
          type="text"
          id="domicilio"
          name="domicilio"
          placeholder="Domicilio"
          [(ngModel)]="socio.domicilio"
          required
          #domicilio="ngModel"
        />
      </div>

      <div class="campo">
        <label for="NumTar">Número de tarjeta:</label>
        <input type="text" id="NumTar" name="NumTar" placeholder="Número de tarjeta" [(ngModel)]="socio.NumTar" #numTar="ngModel" required/>
      </div>

      <div class="campo">
        <label for="familiares">Número de Familiares:</label>
        <input type="number" id="familiares" name="familiares" placeholder="Nº familiares del socio" [(ngModel)]="numeroFamiliares"
         (ngModelChange)="crearCamposFamiliares()" required #familiaresInput="ngModel"/>
      </div>

      <!-- Campos Dinámicos de Familiares -->
      <div *ngFor="let familiar of familiares; let i = index">
        <div class="campo">
          <label for="nombreFamiliar{{i}}">Nombre Familiar {{i + 1}}:</label>
          <input type="text" id="nombreFamiliar{{i}}" name="nombreFamiliar{{i}}" [(ngModel)]="familiar.nombre" placeholder="Nombre del familiar" required
            #familiarNombre="ngModel"/>
        </div>
      </div>

      <button type="submit" class="button" [disabled]="form.invalid" [class.disabled]="form.invalid">
        Agregar Socio
      </button>
    </form>
  </div>

  <div class="contenedor-boton">
    <button class="btn-regresar" (click)="navigateTo()">Volver</button>
  </div>
</div>
