body {
  position: relative;
  background-image: url('/assets/feria.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

/* Capa semitransparente encima del fondo */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Negro con opacidad */
  z-index: -1; /* Asegura que el overlay esté por encima del fondo pero debajo de otros elementos */
}
